h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
img{
  height:  50px;
  width: 50px;
}
#list{
  /* border: 2px solid black;   */
  display: block;
  justify-content: space-between;
}
.info{
  /* border: 2px solid red; */
  width: fit-content;
  margin-bottom: 20px;
  padding:  20px;
}
.name{
  cursor: pointer;
}
.height, .gender {
  display: none;
}